<h1>Welcome, <%= @user.name %>!</h1>

Name: <%= @user.name %><br>
Email: <%= @user.email %><br>
Password: <%= @user.password %><br>
<br>
<a href="/todos/list">See current "To-Do" list.</a><br>
<a href="/users/<%= @user.id %>/edit">Click here</a> to edit current user info.<br>
<a href="/users/<%= @user.id %>/form_to_delete_user">Click here</a> to delete current user.<br>
<a href="/logins/log_out">Click here</a> to log out