<h1>Edit To-do list items below.</h1>

<form action="/todos/<%= @todo.id %>/update" method="post">
  Title:
    <input type="text" name="title" value="<%= @todo.title %>"><br>
  Description:
    <input type="text" name="description" value="<%= @todo.description %>"><br>
  Category:
    <select name="category">

      <option value = 0>Select a category...</option>
        <% @categories.each do |category| %>
          <option value="<%= category.id %>">
            <%= category.category %>
          </option>
      <% end %>

    </select><br>

  Assigned to:
    <input type="number" name="user_id" value="<%= session["user_id"] %>"><br>
  Completed:
    <input type="checkbox" name="completed" value="<%= @todo.completed %>"><br>
    <input type="submit">
</form>

<a href="/todos/index">Back</a>