<h1>To do list</h1>

<table border = 1px style ="width:50%">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Category</th>
    <th>Assigned to</th>
    <th>Created by</th>
    <th>Completed</th>   
    <th>Edit</th>
    <th>Delete</th>
  </tr>

  <tr>
    <% @todos.each do |todo| %>
      <td align="center">
        <%= todo.title %>
      </td>

      <td align="center">
        <%= todo.description %>
      </td>

      <td align="center">
        <%= todo.category_id %>
      </td>

      <td align="center">
        <%= todo.user_id %>
      </td>

      <td align="center">
        <%= todo.created_by %>
      </td>

      <td align="center">
        <%= todo.completed %>
      </td>

      <td align="center">
        <form action="/todos/<%= todo.id %>/edit" method="get">
          <input type="submit" value="Edit">
        </form>
      </td>

      <td align="center">
        <form action="/todos/<%= todo.id %>/form_to_delete_todo" method="get">
          <input type="submit" value="Delete">
        </form>
      </td>
  </tr>  
    <% end %>
</table>


<a href="/todos/new">Click here</a> to add new items.<br>
<a href="/categories/new">Click here</a> to add new categories.<br>
<a href="/users/:id/profile">Click here</a> to view profile.<br>
<a href="/logins/log_out">Click here</a> to log out.